{% extends "auctions/layout.html" %} {% block body %}
<div class="container-center">
  <h2 class="oswald">Active Listings</h2>
  <form action="{% url 'displayCategory' %}" method="POST">
    {% csrf_token %}
    <select
      class="form-select quicksand mt-3"
      aria-label="Default select example"
      name="category"
    >
      {% for category in categories %}
      <option value="{{category}}">{{category}}</option>
      {% endfor %}
    </select>
    <input class="btn btn-primary quicksand" type="submit" value="Filter" />
  </form>
  <div class="row margins1 quicksand">
    {% if not listings %}
    <h5>No items with this category</h5>
    {% else %}
      {% for listing in listings %}
      <div class="card mx-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
          class="img-fluid rounded-start"
          src="{{ listing.image_url }}"
          alt="{{ listing.title }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">{{ listing.description }}</p>
              <h3>${{ listing.price.bid }}</h3>
              <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary"
                >More Info</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
